.container {
  position: relative;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--tile-gap) * 0.5);
  background-color: var(--secondary-bg);
  border-radius: 18px;
  box-shadow:
    0 0 0 4px #a99a8c inset,
    0 14px 28px -12px rgb(106 86 65 / 55%);
}

.cell {
  width: var(--tile-size);
  height: var(--tile-size);
  margin: calc(var(--tile-gap) * 0.5);
  border-radius: 12px;
  background: var(--cell-bg);
  box-shadow: 0 2px 0 rgb(0 0 0 / 6%) inset;
  user-select: none;
}

.tiles {
  position: relative;
  z-index: 2;
}
